.validation-error{
	color:red;
}
.compulsory{
	color:red;
}
form #spinner
{
	display:none;
}
.login-page{
	/*! background:linear-gradient(to right, rgb(84, 51, 255), rgb(194, 213, 221), rgb(165, 254, 203)); */
	/*! background: gr; */
}

.label-info {
    background-color: #5bc0de;
}

.bootstrap-tagsinput .label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
/*alertify*/
/*ajs-message ajs-error ajs-visible*/
.ajs-error .ajs-success
{
    color:#ffffff;
}